

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
     width: 900px;
    height: auto;
    margin: 10px 10px ;
    box-sizing: border-box;
} 
 /* .main-section{
    width: 900px;
    height: auto;
    margin: 10px 10px ;
 } */


.banner-text{
    font-size: 42px;
    margin: 0 0 25px 0;
    color: #0e0e0e;
}

section p{
    color: #0e0e0eb6;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    
}
.btn{
    background-color: antiquewhite;
    color: #006a50;
    width: 60px;
    height: 30px;
    padding: 3px;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    
    background-color: rgb(28, 224, 10);
    color: black;
    transition: .5s;
    padding-bottom: 5px;
}

/* .batn-all */
.batn-all{
    background-color:  #006a50;
    color: white;
    font-size: 10px;
    width: 130px;
    height: 20px;
    padding: 3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.batn-all:hover{
    background-color: aliceblue;
    color: black;
    transition: .5s;
    padding-bottom: 5px;
}

.banner-continer{
    padding: 24px;
    height: 400px;
    border-radius: 10px;
    background-color: #c0f0e4;
    margin-bottom: 40px;
    box-sizing: border-box;
}
/* banner-code-start */
.banner-continer{
    display: flex;
    padding: 24px;
    
}


.img{
    width: 460;
    height: auto;
    float: right;
    padding: 10px 10px;
    o
}

.section{
    height: 400px;
    display: flex;
    justify-content: space-between;
    
}


/* seconde-section-img */

.card-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 24px;
    
}
/* .continer-div{
    width: 900px;
    background-color: #5490F5;
    padding: 24px 24px;
    margin: 0 auto;
    margin-top: 40px;
} */
.card{
    width: 280px;
    height: 240px;
    background-color: #548ff58c;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 10px 10px;
    
    overflow: hidden;
    word-wrap:normal;
    
}

.img-div{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    
}

.img-div{
    display: flex;
    font-size: 12px;
    text-align: center;
    
}

.card h4{
    display: flex;
    text-align: left;
}

.card button{
    position: absolute top: 100% ;
    width: auto;
    height: 30px;
    border-radius: 5px;
    background-color: #5490F5;
    color: white;
    border: none;
    cursor: pointer;
    
}
.btn-all:hover{
    background-color: aliceblue;
    color: black;
    transition: .5s;
    padding-bottom: 5px;
}


.card-p{
    font-family: fira sans;
    width: 200px;
    height: auto;
    display: flex;
    text-align: left;
    font-size: 16px;
    margin: 0px;
    padding: 6px;
}
.hed-h1{
    margin-top: 80px;
}

.pra-titel{
    font-size: 12px;
}

.batn-all:hover{
    background-color: aliceblue;
    color: black;
    transition: .5s;
    padding-bottom: 5px;
}

/* dr-yunos */

.dr-yunus{
    width: 930px;
    height: 230px;
    background-color: #ebf3f2;
    border-radius: 8px;
    padding: 24px 48px;
    margin-top: 32px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 48px 24px;
}

.yunus-dic{
    padding-left: 0px;
    
    padding-top: 10px;
    font-size: 16px;
    color: #0e0e0ec9;
    text-align: start;
}

.dr-h4{
    margin-top: 12px;
    font-size: 20px;
    color: #0e0e0ed2;
}
.dr-tt{
    margin-bottom: 48px;
    font-size: 16;
    color: #0e0e0ecb;
}

/* satelire */

.satelit-parents{
       width: 930px;
       height: 350px;
       padding: 20px 25px;
       border-radius: 8px;
       background-color: rgb(207, 190, 224);


}
.sat-1{
    display: flex;
    justify-content: space-between;
    text-align: ;
}
.div-2s{
    
    text-align: start;
}


.re-h3{
    margin-top: 20px;
    font-size: 40px;
    color: #0e0e0ee0;
}

.p-dis{
    font-size: 16px;
    color: #0e0e0e8c;
}
.sate-img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.div-2s{
    color: ##0e0e0e8c;
    justify-self: start;
}


/* satelite */

.satelit-parent{
    width: 930px;
    height: 350px;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: rgb(57, 40, 73);

}

.sat-1{
 display: flex;
 justify-content: space-between;
}
.div-2s{
 
 text-align: start;
}


.re-h3-2{
 margin-top: 20px;
 font-size: 40px;
 color: #0e0e0ee0;
}

.p-dise{
 font-size: 16px;
 color: #0e0e0e8c;
}
.sate-img{
 width: 200px;
 height: 200px;
 border-radius: 5px;
}

.div-2s{
 color: ##0e0e0e8c;
 justify-self: start;
}
.sate-img{
    float: right;
}

.img-st2{
    text-align: center;

}

.container{
    text-align: right;
    float: right;
    width: 3px;
    height: 3px;
    border-radius: 5px;
}

.sate22{
    ghwidth: 50%;
    heit: 200px;
    border-radius: 5px;
    float: right;
}

/* donet-to-day */

.dont{
    background-color: rgb(226, 220, 220);
    width: 930px;
    height: 450px;
}

.don-h3{
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
    color: #0E0E0E;

}

.donate-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
      width: px
      background-color: #c0f0e4;
      border-radius: 5px;
      margin: 10px;
      cursor: pointer;
      
}
.btn-1d{
    padding-top: 20px;
    text-align: center;
    width: 600px;
    height: 80px;
    padding: auto;
    font-size: 25px;
    border-radius: 5px;
}
.b-1{
    background-color: #dce2e0;
    color: #0e0e0ecb;
}

.b-2{
    background-color: #C6E4D6;
    color: #0e0e0ecb;

}

.input-d{
    margin-top: 32px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

.done-btn{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #006a50;
}
.done-btn:hover{
    background-color: #0E0E0E;
    color: #C6E4D6;
    cursor: pointer;
}

/* email-box */

.pra-src{
    margin-top: 80px;
    width: 930px;
    height: 280px;
    border-radius: 5px;
    background: #C6E4D6;
    padding: 20px 20px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.h2-p{
margin-top: 40px;
    text-align: center;
}

.box-src{
    width: 300px;
    text-align: center;
}

.in1{
    position: relative;
    text-align: center;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    right: -30px;
    cursor: pointer;
}

.in2{
    position: relative;
    width: 100px;
    left: -10px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #006A50;
    border-radius: 0px 10px 10px 0px;
    border: none;
    outline: none;
    cursor: pointer;
}


.lest-logo{
    display: flex
    justify-content: center;
}